<div class="row">
    <h1>Hard & Soft Skills</h1>
    <!-- You can now use it in app.component.html -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="90" 
        [radius]="70" 
        [imageSrc]="'../assets/html.png'" 
        [showImage]="true"
        [imageHeight]="70" 
        [imageWidth]="70" 
        [showUnits]="false" 
        [showSubtitle]="false" 
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2" 
        [outerStrokeColor]="'#FFB6C1'" 
        [innerStrokeColor]="'#FCD0B4'" 
        [animation]="true"
        [animationDuration]="600">
    </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="90" 
        [radius]="70" 
        [imageSrc]="'../assets/CSS.png'" 
        [showImage]="true"
        [imageHeight]="70" 
        [imageWidth]="70" 
        [showUnits]="false" 
        [showSubtitle]="false" 
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2" 
        [outerStrokeColor]="'#FFB6C1'" 
        [innerStrokeColor]="'#FCD0B4'" 
        [animation]="true"
        [animationDuration]="600">
    </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="80" 
        [radius]="70" 
        [imageSrc]="'../assets/js.png'" 
        [showImage]="true"
        [imageHeight]="70" 
        [imageWidth]="70" 
        [showUnits]="false" 
        [showSubtitle]="false" 
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2" 
        [outerStrokeColor]="'#FFB6C1'" 
        [innerStrokeColor]="'#FCD0B4'" 
        [animation]="true"
        [animationDuration]="600">
    </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="90" 
        [radius]="70" 
        [imageSrc]="'../assets/eng.png'" 
        [showImage]="true"
        [imageHeight]="70" 
        [imageWidth]="70" 
        [showUnits]="false" 
        [showSubtitle]="false" 
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2" 
        [outerStrokeColor]="'#FFB6C1'" 
        [innerStrokeColor]="'#FCD0B4'" 
        [animation]="true"
        [animationDuration]="600">
    </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="80" 
        [radius]="70" 
        [imageSrc]="'../assets/git.png'" 
        [showImage]="true"
        [imageHeight]="70" 
        [imageWidth]="70" 
        [showUnits]="false" 
        [showSubtitle]="false" 
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2" 
        [outerStrokeColor]="'#FFB6C1'" 
        [innerStrokeColor]="'#FCD0B4'" 
        [animation]="true"
        [animationDuration]="600">
    </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="95" 
        [radius]="70" 
        [imageSrc]="'../assets/grupal.png'" 
        [showImage]="true"
        [imageHeight]="70" 
        [imageWidth]="70" 
        [showUnits]="false" 
        [showSubtitle]="false" 
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="2" 
        [outerStrokeColor]="'#FFB6C1'" 
        [innerStrokeColor]="'#FCD0B4'" 
        [animation]="true"
        [animationDuration]="600">
    </circle-progress>
    </div>
</div>

    